__pycache__/

.venv/
.conda/
.vscode/

logs/
*.log
WebUI/backend/runtime_logs/

*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
*.sqlite3-shm
*.sqlite3-wal

Module-1/vehicle_imgs/
Module-1/vehicles/
Module-1/module1.sqlite3

Module-2/videos/
Module-2/reports/

Module-3/cache/
Module-3/input/
Module-3/input_sources/
Module-3/output/
Module-3/update_output/

Module-4/input/
Module-4/cache/
